/* CSS Document */
.chia-se-bai-viet{
	float:left;
	width:97%;
	height: 4rem;
	margin-top:2rem;
	}
.chia-se-bai-viet a{
	width: 14rem;
	height:3rem;
	float:left;
	font-size:1.8rem;
	display:block;
	}
.chia-se-bai-viet btn-facebook{

	}
.chia-se-bai-viet a{
	text-decoration:none;
	}
#fb,#tw,#gp{
	width:119px;
	height:37px;
	color:#fff;
	font-size:14px;
	border-radius: 4px;
	text-align:center;
	transition: all 0.22s;
	-moz-transition: all 0.22s;
	-webkit-transition: all 0.22s;
	}
#fb{
	background:#3b5998;
	padding: 7px 0px 1px 0px;
	margin-right:15px;
	}
#fb:hover,#tw:hover,#gp:hover{
	background:#2F2F2F;
	}
#tw{
	background:#55acee;
	padding:7px 0px 1px 0px;
	margin-right:15px;
	}
#gp{
	background:#d73d32;
	padding:7px 0px 1px 0px;
	margin-right:15px;
	}

/**/
.noi-dung-bai-viet-ct{width: 100%;margin:0 auto;display:block;float:left;}
.noi-dung-bai-viet-ct > p, .noi-dung-bai-viet-ct > ul{
font-size:126%;
padding-left:10px;
padding-right:10px;
}
.noi-dung-bai-viet-ct > h2{
text-align:justify;
padding:10px 10px 10px 10px;
font-family:'Noto Sans', sans-serif;

}
.muc-cha-con{
	font-family: arial;
	font-size: 19px;
	text-transform: uppercase;
	display: block;
	float: left;
	text-align: center;
	color: #383838;
	text-decoration: none;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.muc-cha-con:hover{
	text-decoration: none;
	color: #d73d32;
}
.ngan-cach{
	float:left;
	color:  #383838;
	font-size: 19px;
	padding: 0px 10px;
}
.ngan-cach:hover{
	color:#383838;
	text-decoration:none;
}
.thu-muc{
	text-align: center;
	width: 100%;
	height: 30px;
	margin-top: 8rem;
}
.tac-gia-bai-viet-ct{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	float: left;
	padding: 1rem;
	margin-top: 2rem;
	background: rgba(227, 227, 227, 0.24);
	box-shadow: 0px 2px 4px 0px rgba(210, 210, 210, 0.5);
}
.hinh-author{
	width: 16%;
	height: auto;
	display: block;
	text-align: center;
	float: left;
}
.hinh-author img{
	border: 3px solid #d4d4d4;
	border-radius: 50%;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	width: 80px;
	box-shadow: 0px 1px 5px 0px #ababab;
}
.hinh-author img:hover{
	border: 4px solid #333;
	border-radius: 69px;
}
.description-author{
	width: 84%;
	height: auto;
	display: block;
	float: left;
}
.description-author > a{
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
.description-author > a:hover{
	color: #476cbb;
	font-weight: bold;
	text-decoration: none;
}
.description-author h3{
  margin:0;
}
.description-author > p{
}
.author-fb{
	width: 22px;
height: 25px;
background-color: rgb(133, 133, 133);
display: block;
padding: 5px;
border-radius: 4px;
color: #fff;
}
.author-fb:hover,.author-fb:hover i{
	background: #3b5998;
	color: #fff;
}

.luot-xem{
	font-size: 126%;
	display: block;
	padding: 8px;
	text-align: end;
}
.luot-xem >i{

}
.khung-chua-tin-cm {
    width: 100%;
    height: 480px;
    display: block;
    overflow: hidden;
    float: left;
    margin-top: 3rem;
}
  	.hinh-thu-nho-cm{
  		height: 480px;
  		position: relative;
  		background-position: center;
  		background-size: cover;
  		-moz-background-size: cover;
  		-webkit-background-size: cover;
  	}
.ngay-thang-dang-cm {
    position: absolute;
    bottom: 0;
    width: 100%;
    float: left;
    background: rgba(93, 93, 93, 0.34);
    padding-bottom: 1.5rem;
}
  	.ngay-dang{

  	}
.ngay-dang > h2 {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    color: #fff;
}
  	.ngay-dang > b{
  		padding: 1.333rem;
  		padding-left: 2rem;
  		color: #f1f1f1;
  	}