/* CSS Document */
.khung-chua-tin-cm{
	width:99.1%;
	height:auto;
	margin:0 auto;
	margin-top: 1.5rem;
}
.khung-chua-tin-cm a{
	text-decoration:none;
	}
.anh-tieu-de-cm{
	width:100%;
	height: 393px;
	background-size:  cover;
	background-position: center;
	}
.khung-chua-tin-cm a:hover{
	text-decoration:none;
	}
.nam-tren-hinh-cm img{
	width:100%;
	max-height:46rem;
}
.nen-noi-cm{
	background:rgba(33,33,33,0.309804);
	margin-top:-15rem;
	position:relative;
	display:block;
	width:100%;
	min-height:13rem;
	max-height:10rem;
}

.tieu-de-ngan-cm{}
.tieu-de-ngan-cm h2{
	color:#fff;
	padding-left:2rem;
	padding-right:1rem;
	padding-top:1rem;
	}
.ngay-thang-dang-cm{
	color: rgba(224, 224, 224, 0.72);
	padding-left:2rem;
	padding-bottom:1rem;
	}
